<h2 [style.color]="colorName" [class.bg-dark]="isActive" [class.bg-danger]="!isActive">This is Style binding</h2>
<table class="table table-dark table bordered table striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th [attr.colspan]="colspanValue">Contact</th>
        </tr>    </thead> <tbody>        <tr>
            <td>9915004098</td>
            <td>A Sreekanth reddy</td>
            <td>7092122352</td>
            <td>8374036361</td>
        </tr>
        <tr>
            <td>9915004098</td>
            <td>A Sreekanth reddy</td>
            <td>7092122352</td>
            <td>8374036361</td>
        </tr>
    </tbody>

</table>