<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="brand" routerLink="/">Home</a>
  <a class="brand" routerLink="/about">About Us</a>
  <a class="brand" routerLink="/help">Help</a>
  <a class="brand" routerLink="/property-binding">BindingEg</a>
  <a class="brand" routerLink="/register" >Register</a>
  <a class="brand" routerLink="/event-binding" >Event binding</a>
  <a class="brand" routerLink="/twoway-binding" >twowaydata binding</a>
  <a class="brand" routerLink="/ng-if" >ngifcompoenet</a>
  <a class="brand" routerLink="/ng-for" >ngforcompoenet</a>
  <a class="brand" routerLink="/ng-switch" >ngswitchcompoenet</a>
  <a class="brand" routerLink="/form-1" >Form1Assignment</a>
  <a class="brand" routerLink="/form-2" >Form2Assignment</a>
  <a class="brand" routerLink="/reactive-form" >Reactive-Form</a>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="brand" routerLink="/parent" >Parent</a>
    <a class="brand" routerLink="/comment-details" >Output example</a>
    
</nav>

